name: Lint

on: push

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v3
      - run: git fetch origin main # needed for commitlint

      - name: Read .nvmrc
        run: echo ::set-output name=NVMRC::$(cat .nvmrc)
        id: nvm

      - name: Setup Node (uses version from .nvmrc)
        uses: actions/setup-node@v3
        with:
          node-version: ${{ steps.nvm.outputs.NVMRC }}

      - name: Cache npm
        uses: actions/cache@v3.0.2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Install Node dependencies
        run: npm ci --no-audit --no-optional

      - name: Run commitlint
        if: github.actor != 'dependabot[bot]' # allow long commit message body
        run: npm run lint:commit

      - name: Run stylelint
        run: npm run lint:style

      - name: Run ESLint
        run: npm run lint:es

      - name: Run tsc (type check)
        run: npm run lint:ts

      - name: Run Prettier
        run: npm run lint:prettier
